
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>About the project</title>
<link rel="stylesheet" href="css/about.css"> 



        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   
    
    
</head>
<body>
    <div th:include="navbar.html"> 
    
    </div>

<br><br><br><br><br><br><br><br><br><br>
    <main>
        <section class="about">
           
            <div class="center">
            <h1 style="color:indigo">About The City</h1>
            </div>
            <br>

         <div class="container">
<p>The city of Prayagraj is among the largest cities of Uttar Pradesh and situated at the confluence of three rivers- Ganga, Yamuna and the invisible Saraswati. The meeting point is known as Triveni and is especially sacred to Hindus. The earlier settlements of the Aryans were established in this city, then known as Prayag.<br>
</p><br>
<p>Prayagraj is one of the historic and mythological cities of India with glorious past and present. It continues to enjoy the distinction of being a place of haunting and lasting memories. It is a city of mixed culture of Hindu, Muslims, Jains and Christians.</p><br>
<p>Its sanctity is manifest by references to it in Purans, the Ramayan and the Mahabharata. According to Hindu Mythology, Lord Brahma, the creator God of the Trinity, chose a land on earth (ie Prayag) to perform âPrakrista Yagâ, at the beginning of the creation and he also refereed to it as Tirth raj or the King of all pilgrimage centres. As per writing of âPadam Puranâ â <span class="text-highlight">âAs the sun is amongst the moon and the moon amongst the stars, likewise Prayag is best amongst all places of pilgrimageâ.</span> The bathing at Prayag is mentioned in Brahma Puran â in the month of Magha at the bank of Ganga Yamuna in Prayag bestows results of millions and millions of Ashvmedha Yajna.</p><br>
<p>Prayag is birth place of Som, Varuna and Prjapati. Prayag has been associated with mythological personalities in Brahmanical(Vedic) and Buddhist Literatures. It was the seat of the great sage Bhardwaj, sage Durvasa and Sage Pannas sage Bhardwaj lived here circa 5000BC and taught more than 10000 disciples. He was the greatest philosopher of ancient world.</p><br>
<p>The present Jhunsi area, very close to sangam was the kingdom of Chandrabanshiya ( lunar clan ) King Pururava. Nearby Kaushambi bloomed to prosperity during Vatsa and Maurya Rule. The earliest monument of antiques Ashok Pillar with inscriptions of third century B.C. clears the inscriptions of his directions to his fellow Rajas and praise of King Samudragupta. The Chinese traveler Huan Tsang in 643 AD found Prayag inhabited by many Hindus who regarded the place very Holy.</p><br>
<ul>
<li>. 1575 AD â Emperor Akbar founded the city in by the name of âILLAHABASâ which later became ALLAHABAD meant âThe City of Allahaâ impressed with the strategic importance of the SANGAM. In medieval India the city enjoyed the honour of being the religio-cultural center of India. For a long time it was Provincial capital of the Mughals. Later it was captured by Marathas.</li><br>
<li>. 1801 AD â British History of the city begun in this year when the Nawab of Oudh ceded it to the British Throne. British army used the fort for their military purposes.</li><br>
<li>. 1857 AD â The town was the centre of war of Independence and later became the crucible of Indian Freedom Movement against British.</li><br>
<li>. 1858 AD â The East India Company officially handed over India to British Government here at Minto Park. After the first war of independence the town was named âALLAHABADâ and was made the capital of United Province of Agra and Oudh.</li><br>
<li>. 868 AD â It became a seat of Justice when Allahbad High Court was established.</li><br>
<li>. 1871 AD â British architect Sir William Emerson erected a majestic monument All Saint Cathedral thirty years before he designed the Victoria Memorial in Kolkata.</li><br>
<li>. 1887 AD â Prayagraj became a seat of knowledge with the establishment of the fourth oldest University â University of Allahabad. Prayagraj has been rich in numerous Victorian and Georgian buildings made in synthesis with Indian architectural traditions.</li><br>
</ul>
<p>This city was the heart of the Indian Freedom Movement against the British rule with Anand Bhawan being the epicentre. It was in Prayagraj (then known as Allahabad) Mahatama Gandhi proposed his program of non-violent resistance to liberate India. Prayagraj has provided the largest number of prime ministers of Post independence India Pt. Jawahar Lal Nehru, Lal Bahadur Shastri, Indira Gandhi, Rajiv Gandhi, V.P.Singh. Former Prime Minister Chandra Shekhar was student of Allahabad university.</p><br>
<p>Prayagraj is basically an Administrative and Educational city. High Court of Uttar Pradesh, Auditor General of Uttar Pradesh, Principal Controller of Defence Accounts ( Pension ) PCDA, Uttar Pradesh Madhymik Shiksha Prishad ( UP BOARD ) office, Police HeadQtrs and in education Moti Lal Nehru Regional Engg. College MNREC, Medical and Agriculture College , Indian Institute of Information Technology ( IIIT ) ITI Naini and IIFCO Phulpur , Triveni Glass are some of major industries here.</p><br>
<p>From the days of civilization Prayagraj has been seat of learning, wisdom and writing. It is the most vibrant politically spiritually conscious and spiritually awakened city of India.</p><br>




	
<br><br>

 <h1 style="color:indigo;">How to Reach</h1>
             <br>

              
<p>Prayagraj is an important pilgrimage destination in the Ganges plain and that is why it is well connected to all the major cities in Uttar Pradesh and India. The Kumbh Mela that takes place on its confluence is attended by millions of Hindus round the globe.</p>
<br>
<h2 style="font-size:20px;text-decoration:underline;color:indigo">By Road</h2><br>
<p>As Prayagraj is located in the heartland of the great Indian plains, the road density is quite high in these parts and is well connected to rest of the country via National and State Highways. NH2 links Delhi-Kolkata passes from Prayagraj while NH27 starts from Prayagraj and ends at Mangawan in Madhya Pradesh, NH76 links Prayagraj in Uttar Pradesh with Pindwara in Rajasthan, NH96 connects to NH28 in Faizabad and brings together two major centers of Hindu Pilgrimage &#8211; Prayagraj and Ayodhya. The three bus stands of Prayagraj cater to different routes of the country through interstate bus services. Local transportation like tourist taxis, cabs, auto rickshaws, and local buses are also available that connects you to various parts of Prayagraj and some neighboring cities.</p>
<br><div>

<h1 style="color:indigo;">Distance from Major Cities of India</h1>
<br>
<table>
    

<thead style="background-color:grey">
<br>
<tr>
<th>Name of the City</th>
<th>Distance (in kilometers)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Agra</td>
<td>431 km</td>
</tr>
<tr>
<td>Kanpur</td>
<td>191 km</td>
</tr>
<tr>
<td>Ayodhya</td>
<td>156 km</td>
</tr>
<tr>
<td>Mumbai</td>
<td>1162 km</td>
</tr>
<tr>
<td>Lucknow</td>
<td>183 km</td>
</tr>
<tr>
<td>Kolkata</td>
<td>732 km</td>
</tr>
<tr>
<td>Chennai</td>
<td>1385 km</td>
</tr>
<tr>
<td>Patna</td>
<td>330 km</td>
</tr>
<tr>
<td>Trivandrum</td>
<td>1954 km</td>
</tr>
<tr>
<td>Delhi</td>
<td>582 km</td>
</tr>
<tr>
<td>Udaipur</td>
<td>829 km</td>
</tr>
<tr>
<td>Varanasi</td>
<td>112 km</td>
</tr>
<tr>
<td>Jaipur</td>
<td>628 km</td>
</tr>
<tr>
<td>Gorakhpur</td>
<td>212 km</td>
</tr>
<tr>
<td>Mathura</td>
<td>476 km</td>
</tr>
<tr>
<td>Haridwar</td>
<td>621 km</td>
</tr>
<tr>
<td>Chitrakoot</td>
<td>104 km</td>
</tr>
<tr>
<td>Vindhyachal</td>
<td>71 km</td>
</tr>
</tbody>
</table>

 <div> 
    <br>
<ul>
<li>. UPSRTC Bus Stand, Civil Lines Tel. : 2407257</li><br>
<li>. UPSRTC Bus Stand, Zero Road Tel. : 2564009</li><br>
</ul>
<h2 style="font-size:20px;text-decoration:underline;color:indigo">By Rail</h2><br>
<p>Being the headquarters of the North Central Railway Zone in India, Prayagraj has eight railway stations within its city limits, all of which are well connected to many of the major cities of India namely &#8211; Delhi, Mumbai, Bangalore, Chennai, Hyderabad, Kolkata, Bhopal, Gwalior, Jaipur etc. Cabs, Auto Rickshaws, eRickshaws and City buses are available near all the railway stations to reach your onward destination.</p>
<br>
<ul>
<li>. Allahabad Junction Station Tel. : 139</li>
<li>. Allahabad City Station (Rambagh) Tel. : 2557978</li>
<li>. Prayag Station Tel. : 2466831</li>
<li>. Naini Station Tel. : 2697252</li>
</ul><br>
<h2 style="font-size:20px;text-decoration:underline;color:indigo">By Air</h2><br>
<p>The Allahabad Domestic Airport, also known as Bamrauli Air Force Base, is 12 Km from Prayagraj and though it is operational for domestic flights, it serves only a limited number of cities in India. Other two nearest airports from Prayagraj are Lal Bahadur Shastri Airport in Varanasi (150 Km) and Amausi International Airport in Lucknow (200 Km). Both these airports are well connected to rest of the major cities of India. Daily flights from major airlines like Air India, Air India Express, GoAir, IndiGo, Jet Airways, Kingfisher Airlines, and Spice Jet are available. Local cabs and Interstate buses can be boarded from near the airports to reach Prayagraj.</p>
<p>&nbsp;</p><br>
<h3 style="font-size:20px;text-decoration:underline;color:indigo">Important Contacts</h3><br>
<p>UP Government Regional Tourist Office, </ br><br />
Ilawart Tourist Bungalow Campus,</ br><br />
35, M.G. Marg, Civil Lines </ br><br />
Tel. : 0532-2408873</ br><br />
website : uptourismallahabad@up-tourism.com</p>
<ul><br>
<li>. D.M., Prayagraj Tel. : 2250300, 2440515</li>
<li>. S.S.P., Prayagraj Tel. : 2440700, 2641902</li>
<li>. Foreigner&#8217;s Registration Office, (LIU), Tel. : 2461097 Opp.- Anand Bhawan</li>
</ul><br>
</div><br>

<br>
	<div class="link">
	<a href="index">Back To Home...</a>
	</div><br><br>
</div>
</section>

       


     
    
<!--  team -->
  <div class="outer-container">
    <div class="inner-container">
      <p class="section-head-text">
        our excellent team
        <hr>
      </p>
      <p class="section-subhead-text">
        There’s no reason to be just a mere tourist anymore, not when locals can show you an edgier, more beautiful and more authentic version of their city.
      </p>
      <div class="responsive-container-block">
        <div class="responsive-cell-block team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../images/manu1.jpg">
            </div>
            <p class="name">
             MANORAMA
            </p>
            <p class="position">
              Adit Trainee
            </p>
            <div class="social-media-links">
              <!-- <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a> -->
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../images/piyush1.jpg">
            </div>
            <p class="name">
              PIYUSH 
            </p>
            <p class="position">
                     Adit Trainee
            </p>
            <div class="social-media-links">
              <!-- <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a> -->
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../images/hanuman1.jpg">
            </div>
            <p class="name">
              HANUMAN YADAV
            </p>
            <p class="position">
                   Adit Trainee
            </p>
            <div class="social-media-links">
              <!-- <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a> -->
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- end team -->
  
<!-- Footer Section -->
<div th:insert="footer.html"></div> 


	
	
	
	
	
	 <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/extrenaljq.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
</body>
</html>