
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Category</title>

<link rel="stylesheet" href="css/addcategory.css">
</head>
<style>
button{
font-size:20px;
background-color:lightblue;
padding:0 20px;
border-radius:5px;
}
button:hover{
background-color:blue;
}
</style>
<body>

<div th:include="homenav.html"></div>
	
		<!-- Navigation Section -->
	<nav>
  <ul>
    <li><a href="admin_home">Home</a></li>
  
 
    
    
    <li><a href="admin_home">Logout</a></li>
    
  </ul>
</nav>
	<br><br><br><br><br><br><br><br><br><br>
<h1><font color="indigo">ADD CATEGORY</font></h1>

<form action="#" th:action="@{/savecategory}" th:object="${category}" method="post">
    <div>
        <label for="categoryName">Category Name:</label>
        <br>
        <input type="text" id="categoryName" th:field="*{categoryName}" required />
    </div>
    <br>
    <button type="submit" >Save</button>
</form>

	<br><br><br><br><br><br><br><br><br><br><br><br>
	<footer>
 <p>&copy; 2024 SMART CITY - CITY GUIDE</p>
</footer>
</body>
</html>