<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{
 background-image:url("../images/aboutbg.jpg");
	background-repeat:no-repeat;
	background-size:cover;

} 

h1{
	font-size:30px;
	text-decoration:underline;
	text-align:center;
}

table{
	width:70%;
	font-size:20px;
	
		
}

tr{
text-align:center;
}

th{
background-color:lightpurple;
}

</style>
</head>
<body>

<div th:insert="~{homenav.html}"></div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div>
<h1>Admin Details</h1>


<br><br>
<table border="1">

<tr>
<th>ID</th>
<th>Firstname</th>
<th>Lastname</th>

<th>Phone</th>
<th>Mail</th>
<!-- <th>Password</th>
<th>CPassword</th> -->
<th>Actions</th>
</tr>

<tr th:each="u: ${data}">
<td th:text="${u.id}"></td>
<td th:text="${u.fname}"></td>
<td th:text="${u.lname}"></td>
<td th:text="${u.phone}"></td>
<td th:text="${u.mail}"></td>

<!-- <td th:text="${u.passw}"></td>
<td th:text="${u.cpassw}"></td> -->
<td>
<!-- <a th:href="@{/updateForm/{id}(id=${u.id})}">Update</a> || -->

 <a th:href="@{/deleteUser/{id}(id=${u.id})}">Delete</a>
 </td>


</tr>
</table>
</div>
</body>
</html>