


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gallery</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background-image:url("../images/aboutbg.jpg");
            background-repeat:no-repeat;
            background-size:cover;
        }
      .gallery-item img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    transition: all 0.5s ease;
    border:3px solid indigo;
    border-radius: 25px;
}
.filter-gal-par{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery-item img:hover{
    transform: scale(1.1,1.1);
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
}
.gallery-item{
    margin-bottom: 20px;
    overflow: hidden;
}
  footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
  width:100%;
}
footer p {
  font-size: 20px;
  margin-bottom: 10px;
} 

    </style>
</head>
<body>

<div th:include="navbar.html"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h1 style="font-size:50px; text-align:center;text-decoration:underline">Gallery</h1>
  
<br><br>


            <div class="row">

              
                <div class="filter-gal-par">
                    <div class="gallery-item temple">
                        <img src="../images/temples/1.jpg" alt="" class="img-responsive">
                    </div>
                    
                     <div class="gallery-item temple">
                        <img src="../images/temples/2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item temple">
                        <img src="../images/temples/3.jpg" alt="" class="img-responsive">
                    </div>
                    
                     <div class="gallery-item temple">
                        <img src="../images/temples/4.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/5.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/6.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/7.jpg" alt="" class="img-responsive">
                    </div>
                    
                     <div class="gallery-item temple">
                        <img src="../images/temples/8.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/9.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/10.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/11.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/12.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/13.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/14.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item temple">
                        <img src="../images/temples/15.jpg" alt="" class="img-responsive">
                    </div>
                    
                     <div class="gallery-item tour">
                        <img src="../images/tourist/1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item tour">
                        <img src="../images/tourist/2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item tour">
                        <img src="../images/tourist/3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item kumbh">
                        <img src="../images/kumbh/1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item kumbh">
                        <img src="../images/kumbh/2.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item kumbh">
                        <img src="../images/kumbh/3.jpg" alt="" class="img-responsive">
                    </div> 
                    
                    <div class="gallery-item kumbh">
                        <img src="../images/hospital/4.jpg" alt="" class="img-responsive">
                    </div> 
                    <div class="gallery-item kumbh">
                        <img src="../images/hospital/5.jpg" alt="" class="img-responsive">
                    </div> 
                    <div class="gallery-item kumbh">
                        <img src="../images/hospital/6.jpg" alt="" class="img-responsive">
                    </div> 
                    <div class="gallery-item kumbh">
                        <img src="../images/hospital/3.jpg" alt="" class="img-responsive">
                    </div> 
                    <div class="gallery-item kumbh">
                        <img src="../images/hospital/7.jpg" alt="" class="img-responsive">
                    </div> 
                    <div class="gallery-item kumbh">
                        <img src="../images/hospital/8.jpg" alt="" class="img-responsive">
                    </div> 
                    
                 <div class="gallery-item kumbh">
                        <img src="../images/hospital/9.jpg" alt="" class="img-responsive">
                    </div> 
                      <div class="gallery-item kumbh">
                        <img src="../images/hospital/10.jpg" alt="" class="img-responsive">
                    </div> 
                <div class="gallery-item kumbh">
                        <img src="../images/school/11.jpg" alt="" class="img-responsive">
                    </div>  
                     <div class="gallery-item kumbh">
                        <img src="../images/school/12.jpg" alt="" class="img-responsive">
                    </div> 
              
               <div class="gallery-item kumbh">
                        <img src="../images/school/13.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/school/14.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/school/14.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/school/15.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/school/16.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/school/17.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/school/18.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/University/1.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/University/2.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/University/3.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/University/4.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/restorent/1.jpg" alt="" class="img-responsive">
                    </div> 
                     <div class="gallery-item kumbh">
                        <img src="../images/restorent/2.jpg" alt="" class="img-responsive">
                    </div> 
                    <div class="gallery-item kumbh">
                        <img src="../images/restorent/3.jpg" alt="" class="img-responsive">
                    </div> 
                 <div class="gallery-item kumbh">
                        <img src="../images/restorent/4.jpg" alt="" class="img-responsive">
                    </div> 
      <div class="gallery-item kumbh">
                        <img src="../images/restorent/5.jpg" alt="" class="img-responsive">
                    </div> 
                    <div class="gallery-item kumbh">
                        <img src="../images/restorent/6.jpg" alt="" class="img-responsive">
                    </div> 
                   
            

                    
            
         
      </div>
 
<footer>
 <p>&copy; 2024 SMART CITY - CITY GUIDE</p>
</footer>



    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
