<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <title>City Guide</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;1,300&display=swap"
        rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="../css/index.css">
    <style>
    .select-box{
    position:absolute;
    left:45%;
    font-size:20px;
    width:200px;
 
    }
    
    </style>
</head>

<body>
  <!--   <div id="arrow">
        <i class="fa fa-arrow-up"></i>
    </div> -->
    
    <div th:insert="~{navbar.html}"></div>
    
 
<br><br><br><br><br><br><br><br><br><br><br><br>
 <section id="header">
        <div class="container">
            <div class="header-info-par">
                <!-- <h1 class="typewrite" data-period="2000"
                    data-type='["Happiness is closer than you think","Adventure Awaits, go find it.","Dont be a tourist, be a traveler."]'>
                </h1> -->
                <h1 class="animated zoomIn"style="animation-delay:1s;font-family:merienda;font-size:50px">WELCOME TO PRAYAGRAJ</h1>
                <p  class="animated fadeInLeft"style="animation-delay:2s;font-family:poppins;font-size:18px">Allahabad is one of the oldest cities in India. It is crowned in ancient scriptures as 'Prayag', 'Prayagraj' or 'Teertharaj' and is considered the holiest of pilgrimage centres of India. It is situated at the confluence of three rivers- Ganga, Yamuna and the invisible Saraswati.</p>
                <p  class="animated fadeInRight"style="animation-delay:3s;font-family:poppins;font-size:18px">In this site used to store the details of city and helps all the users who just visits our website. This site also provides all the services like Restaurants, Malls , Education ,Temples, Health and hospital related information.If you more details go to select category..</p>
               <!--  <a href="about"  id="about">Read More</a> -->
               </div>
               <br>
                <div class ="select-box">

            <select name="links" id="" size="1" onchange="window.location.href=this.value;" >
            <option value="navbar">Select Category</option>
            <option value="tourprayag">Tourist Places</option>
            <option value="mallprayag">Malls</option>
            <option value="hosprayag">Hospitals</option>
            <option value="temple">Temples</option>
            <option value="school">Schools</option>
              <option value="college">Colleges</option>
            <option value="restaurant">Restaurants</option>
            
            </select>
            </div>
<br><br>
            <div class="video">
                <video id="video" autoplay loop muted>
                    <source src="../videos/1.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
</section>
    <!-- Second Slides Section -->
    <section id="welcome-text">
       
            <h2 class="animated zoomIn"style="animation-delay:1s">Prayagraj is believed to be the most important pilgrimage centre for Hindus. </h2>
            <p class="animated zoomIn" style="animation-delay:2s;font-size:20px">Traditionally river confluences are regarded as auspicious places, but in Sangam, the significance of the confluence is most pious because here, the holy Ganga, Yamuna and the mythical Saraswati meet to become one.</p>
        </div>
    </section>
    <!-- Slides Section Start-->
    <section id="slides-par">
        
            <div class="slides">
                <div class="slide_1 slide_2">
                    <div class="slide-info">
                        <p style="font-size:20px">Yamuna Bridge</p>
                    </div>
                </div>
                <div class="slide_1 slide_3">
                    <div class="slide-info">
                        <p style="font-size:20px">Temple</p>
                    </div>
                </div>
                <div class="slide_1 slide_4">
                    <div class="slide-info">
                        <p style="font-size:20px">Triveni-Sangam</p>
                    </div>
                </div>
                <div class="slide_1 slide_5">
                    <div class="slide-info">
                        <p style="font-size:20px">River</p>
                    </div>
                </div>
                <div class="slide_1 slide_6">
                    <div class="slide-info">
                        <p style="font-size:20px">City info</p>
                    </div>
                </div>
                <div class="slide_1 slide_7">
                    <div class="slide-info">
                        <p style="font-size:20px">Kumbh City</p>
                    </div>
                </div>
                <div class="slide_1 slide_8">
                    <div class="slide-info">
                        <p style="font-size:20px">Prayag-Junction</p>
                    </div>
                
          
        </div>
    </section>
    <!-- Slides Section Start-->

    <!-- Book Now Section Start -->
    <section id="book">
      
        <div th:insert="~{feedback.html}"></div>
    </section>
    <!-- Book Now Section End -->

    <!-- Gallery Section Starts -->
    <section id="gallery">

            <div class="row">

                <p style="font-size:30px; text-align:center">"The whole world is an art gallery when you’re mindful. There are beautiful things everywhere and they’re free."</p>
               <br> <div class="filter-gal-par">
                    <div class="gallery-item temple">
                        <img src="../images/temples/1.jpg" alt="" class="img-responsive">
                    </div>
                    
                    <div class="gallery-item temple">
                        <img src="../images/temples/3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item tour">
                        <img src="../images/tourist/1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item tour">
                        <img src="../images/tourist/2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item tour">
                        <img src="../images/tourist/3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item kumbh">
                        <img src="../images/kumbh/1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="gallery-item kumbh">
                        <img src="../images/kumbh/2.jpg" alt="" class="img-responsive">
                    </div>
                     <div class="gallery-item kumbh">
                        <img src="../images/kumbh/3.jpg" alt="" class="img-responsive">
                    </div> 
                    
              
              
            </div>
            <br>
              <a href="gallery" style="font-size:25px; position:relative; left:40%">SHOW MORE...............</a>
        </div>
    </section>
    <!-- Gallery Section Ends -->

   
    <!-- Blog Section Starts -->
    <section id="blog">
      
            <h1 style="font-size:40px;text-decoration:underline">Famous for.....</h1><br>
            <p style="font-size:25px; color:lightpink">Prayagraj, formerly known as Allahabad, is a city in Uttar Pradesh, India that's famous for being a pilgrimage center, a witness to important events in India's history, and its many monuments and attractions:</p>
            <div class="blog-par">
                <div class="blog-content">
                    <!-- one div for image and one for info -->
                    <div class="blog-img-par">
                        <img src="../images/fort.jpg" alt="" class="img-responsive">

                    </div>
                    <div class="blog-info-par">
                      
                        <h4>Pilgrimage center</h4>
                        <p style="font-size:18px; color:white">Prayagraj is considered one of the holiest pilgrimage sites in India, and is the site of the Kumbh Mela, a massive gathering of pilgrims that takes place every six years.</p>

                    </div>
                </div><br>
                <div class="blog-content">
                    <!-- one div for image and one for info -->
                    <div class="blog-img-par">
                        <img src="../images/primilage.jpg" alt="" class="img-responsive">

                    </div>
                    <div class="blog-info-par">
                        
                        <h4>History</h4>
                        <p style="font-size:18px; color:white">Prayagraj was the center of the Indian freedom movement against British rule, and was the site of the beginning of Mahatma Gandhi's non-violent resistance movement.</p>

                    </div>
                </div>
            </div>
            <div class="blog-par">
                <div class="blog-content">
                    <!-- one div for image and one for info -->
                    <div class="blog-img-par">
                        <img src="../images/church.jpg" alt="" class="img-responsive">

                    </div>
                    <div class="blog-info-par">
                       
                        <h4>Monuments and attractions</h4>
                        <p style="font-size:18px; color:white">Prayagraj has many monuments and attractions, including Akbar's Fort, All Saints Cathedral, and Chandrashekhar Azad Park.</p>

                    </div>
                </div>
                <div class="blog-content">
                    <!-- one div for image and one for info -->
                    <div class="blog-img-par">
                        <img src="../images/food.jpg" alt="" class="img-responsive">

                    </div>
                    <div class="blog-info-par">
                       
                        <h4>Food</h4>
                        <p style="font-size:18px; color:white">Jalebi and rabri is a famous dessert in Prayagraj</p>

                    </div>
               
            </div>
        </div>
    </section>
    <!-- Mutiple Slider Section Ends -->

    <!-- Footer Starts-->
    
<div th:insert="footer.html"></div> 
  
<!-- footer end -->

    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/extrenaljq.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
</body>

</html>